<ul class="block pt-4">
	{% for item in items %}
		<li class="pb-3">
			<a href="{{ item.link }}"
				target="{{ item.target }}"
				title="{{ item.title }}"
				class="text-sm text-white hover:text-red">

				{{ item.title }}
			</a>
		</li>
	{% endfor %}
</ul>